body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-image: url(sky.jpg) ;
}
.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  margin-left: 5px;
  outline: none;
}
.search-field:hover {
  outline: none;
  border: none;
  
}
.search-box {
  border: 1px solid rgb(151, 185, 212);
  width: 281px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
}
.search-button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-left: 20px;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px rgb(17, 14, 14);
  border-radius: 10px;
  background-color: rgb(189, 76, 123);
  border: 1px solid rgb(21, 24, 21);
}
#buy{
  box-shadow: 4px 4px 7px rgb(56, 31, 31);
  border-radius: 10px;
  background-color: rgb(41, 53, 45);
  border: 2px solid rgb(34, 192, 55);
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px rgb(199, 86, 86);
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: rgb(241, 156, 156);
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
